<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="btn btn-block btn-primary nav-link text-white font-weight-bold" routerLinkActive="active" routerLink="/dashboard/appointments">
        <span data-feather="home"></span>
        Reception
      </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-block btn-primary nav-link text-white font-weight-bold" routerLinkActive="active" routerLink="/dashboard/consultation">
        <span data-feather="file"></span>
        Consultiation
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="btn btn-block btn-primary nav-link text-white font-weight-bold" routerLinkActive="active" routerLink="/pharmacy">
        <span data-feather="file"></span>
        Pharmacy
      </a>
    </li> -->

    <li class="nav-item">
      <a class="btn btn-block btn-primary nav-link text-white font-weight-bold" routerLinkActive="active" routerLink="/lab">
        <span data-feather="file"></span>
        Lab
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="btn btn-block btn-primary nav-link text-white font-weight-bold" routerLinkActive="active" routerLink="billing">
        <span data-feather="file"></span>
        Billing
      </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-block btn-primary nav-link text-white font-weight-bold" routerLinkActive="active" routerLink="accounting">
        <span data-feather="file"></span>
        Accounting
      </a>
    </li> -->
  </ul>
</div>