<div class="container mb-5">
  <h1 class="h2 mb-5">Consultation</h1>

  <div class="">
    <button class="btn btn-sm btn-primary mr-2" (click)="patientdetails()">Patients Record</button>
    <button class="btn btn-sm btn-primary" (click)="addappointment()">Schedule Follow up</button>
  </div>
</div>

<div class="container">
  <form class="card bg-light shadow p-5 border border-secondary">
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group mb-4">
          <label class="h4 text-center text-primary" for="statement">Patient Statement</label>
          <textarea class="form-control " rows="5" [(ngModel)]="consultation.statement" name="statement " id="statement " placeholder="What did the patient say?"
            required></textarea>
        </div>

        <div class="form-group mb-4 ">
          <label class="h4 text-center text-primary" for="diagnosis">Diagnosis</label>
          <textarea class="form-control " rows="5" [(ngModel)]="consultation.diagnosis" name="diagnosis" id="diagnosis " placeholder="What did you conclude as a doctor?"
            required></textarea>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-4 ">
          <label class="h4 text-center text-primary" for="testsRequested">Request Test</label>
          <textarea rows="5" [(ngModel)]="testRequest.testsRequested" name="testsRequested" id="testsRequested" class="form-control"
            placeholder="Write all the required test seperated by comma if any."></textarea>
        </div>

        <div class="form-group mb-4 ">
          <label class="h4 text-center text-primary" for="prescriptionContent">Prescription</label>
          <textarea type="text" class="form-control" rows="5" [(ngModel)]="prescription.prescriptionContent" name="prescriptionContent"
            id="prescriptionContent" placeholder="What do you prescribe?" required></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="submitConsultation()">Submit</button>
    </div>
  </form>
</div>